/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --default-aeration: 22px; 
    --default-semi-aeration: 13px;

    --primary-color: rgba(10, 100, 200, 1.0);
    --secundary-color: rgba(10, 200, 100,1.0);

    --footer-font-size: 12px;

    --placeholder-color: #bdc3c7;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  var(--placeholder-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:  var(--placeholder-color);
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Nunito', 'Quicksand', sans-serif;
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
                linear-gradient( 45deg, var(--primary-color) 0%, var(--primary-color) 100%);
    background-attachment: fixed;
}
body{
    position: relative;
}
header{
    padding: var(--default-aeration) 0px;
}

.top_header{
    display: flex;
    padding: 0px var(--default-aeration);
}
.left_top_header{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
#logo_anchor{
    margin-right: var(--default-semi-aeration);
    box-shadow: 3px 15px 20px -7px rgba(52, 73, 94,0.50);   
}
#logo{
    width: 35px;
    height: auto;
}
#title_div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.after_logo_title{
    /* margin: 5px 5px 0px 5px; */
    padding: 0px;
    color: #f1f1f1;
    font-size: 24px;
    letter-spacing: -3px;
    justify-content: center;
    font-weight: 900;
    font-style: italic;
}
.right_top_header{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    /* padding-right: 5%; */
}
#user_icon{
    height: 35px;   
}

.bottom_header{
    
}
.bottom_header nav{

}
.bottom_header nav ul{
    list-style-type: none;
    display: flex;
}
.bottom_header nav ul li{
    padding: var(--default-semi-aeration);
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    border-right: solid 2px #f1f1f1;
    display: flex;
    flex: 3;
    justify-content: center;
}
.bottom_header nav ul li:last-child{
    border-right: none;
}
#bottom_header_home{
    height: auto;
    width: 25px; 
}
#bottom_header_note{
    height: 25px; 
    width: auto;   
}
#bottom_header_calendar{
    height: 25px; 
    width: auto;
}
#bottom_header_more{
    height: auto;
    width: 25px;
}
main{
    padding-top: 100px;
    padding-bottom: 80px;
}


footer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    width: 100%;
    height: 80px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer_div{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#github_footer_anchor{
    text-decoration: none;
    color: #f1f1f1;
    font-size: var(--footer-font-size);
}
#github_footer_icon{
    width: 16px;
    margin: 0 0;
}
#email_footer_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#email_footer_icon{
    width: 16px;
    margin: 0 auto;
}
#email_footer_anchor{
    text-decoration: none;
    color: #f1f1f1;
    margin: 0 auto;
    font-size: var(--footer-font-size);
}


#mark_footer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#mark_footer_icon{
    height: 16px;
    margin: 0 auto;
}
p{
    color: #f1f1f1;
    margin: 0 auto;
    font-size: var(--footer-font-size);
}

/* ==========================================================================
    Self-Help
   ========================================================================== */

/* Exemplo de como implementar variável; 
:root{
    --minha-variavel-css: 100px;
} */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
